$icon-font-path: '../fonts/';

@font-face {
  font-family: 'mlogfont';
  src: url('../fonts/mlogfont.eot?blzqaq');
  src: url('../fonts/mlogfont.eot?#iefixblzqaq') format('embedded-opentype'),
  url('../fonts/mlogfont.ttf?blzqaq') format('truetype'),
  url('../fonts/mlogfont.woff?blzqaq') format('woff'),
  url('../fonts/mlogfont.svg?blzqaq#mlogfont') format('svg');
}

.mlogicon {
  font-family: 'mlogfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mlogfont-search:before {
  content: "\e625";
}

.icon-mlogfont-uv:before {
  content: "\e61e";
}

.icon-mlogfont-delete:before {
  content: "\e621";
}

.icon-mlogfont-exercise:before {
  content: "\e622";
}

.icon-mlogfont-outdoor:before {
  content: "\e623";
}

.icon-mlogfont-switch:before {
  content: "\e624";
}

.icon-mlogfont-humidity:before {
  content: "\e61f";
}

.icon-mlogfont-wind:before {
  content: "\e620";
}

.icon-mlogfont-weather17:before {
  content: "\e600";
}

.icon-mlogfont-weather30:before {
  content: "\e601";
}

.icon-mlogfont-weather01:before {
  content: "\e602";
}

.icon-mlogfont-weather01n:before {
  content: "\e603";
}

.icon-mlogfont-weather11:before {
  content: "\e604";
}

.icon-mlogfont-weather29:before {
  content: "\e605";
}

.icon-mlogfont-weather10:before {
  content: "\e606";
}

.icon-mlogfont-weather53:before {
  content: "\e607";
}

.icon-mlogfont-weather09:before {
  content: "\e608";
}

.icon-mlogfont-weather16:before {
  content: "\e609";
}

.icon-mlogfont-aqigood:before {
  content: "\e60a";
}

.icon-mlogfont-weather18:before {
  content: "\e60b";
}

.icon-mlogfont-weather02:before {
  content: "\e60c";
}

.icon-mlogfont-weather19:before {
  content: "\e60d";
}

.icon-mlogfont-weather07:before {
  content: "\e60e";
}

.icon-mlogfont-weather14:before {
  content: "\e60f";
}

.icon-mlogfont-weather08:before {
  content: "\e610";
}

.icon-mlogfont-weather15:before {
  content: "\e611";
}

.icon-mlogfont-weather20:before {
  content: "\e612";
}

.icon-mlogfont-weather03:before {
  content: "\e613";
}

.icon-mlogfont-weather03n:before {
  content: "\e614";
}

.icon-mlogfont-weather13:before {
  content: "\e615";
}

.icon-mlogfont-weather13n:before {
  content: "\e616";
}

.icon-mlogfont-weather31:before {
  content: "\e617";
}

.icon-mlogfont-weather00:before {
  content: "\e618";
}

.icon-mlogfont-weather00n:before {
  content: "\e619";
}

.icon-mlogfont-weather05:before {
  content: "\e61a";
}

.icon-mlogfont-weather04:before {
  content: "\e61b";
}

.icon-mlogfont-weather12:before {
  content: "\e61c";
}

.icon-mlogfont-weather06:before {
  content: "\e61d";
}
