@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?pkxtcg');
  src: url('../fonts/icomoon.eot?pkxtcg#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?pkxtcg') format('truetype'),
  url('../fonts/icomoon.woff?pkxtcg') format('woff'),
  url('../fonts/icomoon.svg?pkxtcg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-weather12:before {
  content: "\e80f";
}

.icon-iconfont-weather11:before {
  content: "\e80e";
}

.icon-iconfont-weather00:before {
  content: "\e800";
}

.icon-iconfont-weather00npng:before {
  content: "\e801";
}

.icon-iconfont-weather01:before {
  content: "\e802";
}

.icon-iconfont-weather01n:before {
  content: "\e803";
}

.icon-iconfont-weather02:before {
  content: "\e804";
}

.icon-iconfont-weather03:before {
  content: "\e805";
}

.icon-iconfont-weather03n:before {
  content: "\e806";
}

.icon-iconfont-weather04:before {
  content: "\e807";
}

.icon-iconfont-weather05:before {
  content: "\e808";
}

.icon-iconfont-weather06:before {
  content: "\e809";
}

.icon-iconfont-weather07:before {
  content: "\e80a";
}

.icon-iconfont-weather08:before {
  content: "\e80b";
}

.icon-iconfont-weather09:before {
  content: "\e80c";
}

.icon-iconfont-weather10:before {
  content: "\e80d";
}

.icon-iconfont-weather13:before {
  content: "\e810";
}

.icon-iconfont-weather13n:before {
  content: "\e811";
}

.icon-iconfont-weather14:before {
  content: "\e812";
}

.icon-iconfont-weather15:before {
  content: "\e813";
}

.icon-iconfont-weather16:before {
  content: "\e814";
}

.icon-iconfont-weather17:before {
  content: "\e815";
}

.icon-iconfont-weather18:before {
  content: "\e816";
}

.icon-iconfont-weather19:before {
  content: "\e817";
}

.icon-iconfont-weather20:before {
  content: "\e818";
}

.icon-iconfont-weather29:before {
  content: "\e819";
}

.icon-iconfont-weather30:before {
  content: "\e81a";
}

.icon-iconfont-weather31:before {
  content: "\e81b";
}

.icon-iconfont-weather53:before {
  content: "\e81c";
}

