@mixin move-verticle($pixels){
  -webkit-transform: translateY($pixels);
  -moz-transform: translateY($pixels);
  -ms-transform: translateY($pixels);
  -o-transform: translateY($pixels);
  transform: translateY($pixels);
}
@mixin move-horizental($pixels){
  -webkit-transform: translateX($pixels);
  -moz-transform: translateX($pixels);
  -ms-transform: translateX($pixels);
  -o-transform: translateX($pixels);
  transform: translateX($pixels);
}
@mixin roate-text($degs,$pixel-x,$pixel-y){
  -webkit-transform: rotate($degs) translate($pixel-x,$pixel-y);
  -moz-transform: rotate($degs) translate($pixel-x,$pixel-y);
  -ms-transform: rotate($degs) translate($pixel-x,$pixel-y);
  -o-transform: rotate($degs) translate($pixel-x,$pixel-y);
  transform: rotate($degs) translate($pixel-x,$pixel-y);
  transform-origin: top left;
}
@mixin scale-text($num){
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}

@mixin scale-pic($num) {
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
  transform-origin: top;
}
@mixin trigle{
  width: 0px;
  height: 0px;
  line-height: 50px;
  border-color:#FF9600 $weather-font-color-white transparent transparent;
  border-style:solid solid dashed dashed;
  border-width:50px 50px 0 0 ;
}

@mixin switchCity-icon-location() {
  font-size: $font-size-base*2.142857;
  line-height: $font-size-base*2.142857;
  cursor: pointer;
  margin-right: 10px;
}

@mixin switchCity-city() {
  font-size: $font-size-base*1.285714;
  line-height: $font-size-base*2.142857;
}
