@import "mixin";
#gopng_home_service2_outer {
  margin: 0 auto -38px;
  height: 242px;
  width: 220px;
  overflow: hidden;
}
#gopng_home_service2 {
  background: url("../images/sprite.png") -0px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(140/242);
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_home_service1_outer {
  margin: 0 auto -4px;
  height: 208px;
  width: 170px;
  overflow: hidden;
}

#gopng_home_service1 {
  background: url("../images/sprite.png") -220px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(140/208);
  _background: none;
  _padding-left: 220px;
  _margin-left: -220px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_join_ico4_outer {
  margin: 0 auto;
  height: 204px;
  width: 185px;
  overflow: hidden;
}

#gopng_join_ico4 {
  background: url("../images/sprite.png") -390px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 390px;
  _margin-left: -390px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_join_ico3_outer {
  margin: 0 auto;
  height: 204px;
  width: 185px;
  overflow: hidden;
}

#gopng_join_ico3 {
  background: url("../images/sprite.png") -575px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 575px;
  _margin-left: -575px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_join_ico2_outer {
  margin: 0 auto;
  height: 204px;
  width: 185px;
  overflow: hidden;
}

#gopng_join_ico2 {
  background: url("../images/sprite.png") -760px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 760px;
  _margin-left: -760px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_join_ico1_outer {
  margin: 0 auto;
  height: 204px;
  width: 185px;
  overflow: hidden;
}

#gopng_join_ico1 {
  background: url("../images/sprite.png") -945px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 945px;
  _margin-left: -945px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_home_service3_outer {
  margin: 0 auto;
  height: 204px;
  width: 204px;
  overflow: hidden;
}

#gopng_home_service3 {
  background: url("../images/sprite.png") -0px -242px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(140/204);
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_mascot_outer {
  margin: 0 auto;
  height: 184px;
  width: 172px;
  overflow: hidden;
}

#gopng_mascot {
  background: url("../images/sprite.png") -353px -242px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 353px;
  _margin-left: -353px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_arrow_left_outer {
  margin: 0 auto;
  height: 178px;
  width: 87px;
  overflow: hidden;
}

#gopng_arrow_left {
  background: url("../images/sprite.png") -525px -242px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 525px;
  _margin-left: -525px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_arrow_right_outer {
  margin: 0 auto;
  height: 178px;
  width: 87px;
  overflow: hidden;
}

#gopng_arrow_right {
  background: url("../images/sprite.png") -612px -242px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 612px;
  _margin-left: -612px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_service_ico4_outer {
  margin: 0 auto -40px;
  height: 174px;
  width: 265px;
  overflow: hidden;
}

#gopng_service_ico4 {
  background: url("../images/sprite.png") -699px -242px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 699px;
  _margin-left: -699px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_service_ico3_outer {
  margin: 0 auto -15px;
  height: 148px;
  width: 263px;
  overflow: hidden;
}

#gopng_service_ico3 {
  background: url("../images/sprite.png") -0px -446px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 446px;
  _margin-top: -446px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_service_ico2_outer {
  margin: 0 auto -10px;
  height: 140px;
  width: 153px;
  overflow: hidden;
}

#gopng_service_ico2 {
  background: url("../images/sprite.png") -964px -242px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 964px;
  _margin-left: -964px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_service_ico1_outer {
  margin: 0 auto -50px;
  height: 185px;
  width: 149px;
  overflow: hidden;
}

#gopng_service_ico1 {
  background: url("../images/sprite.png") -204px -242px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 204px;
  _margin-left: -204px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_ico4_outer {
  margin: 0 auto;
  height: 88px;
  width: 57px;
  overflow: hidden;
}

#gopng_ico4 {
  background: url("../images/sprite.png") -1130px -0px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 1130px;
  _margin-left: -1130px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_ico5_outer {
  margin: 0 auto;
  height: 87px;
  width: 99px;
  overflow: hidden;
}

#gopng_ico5 {
  background: url("../images/sprite.png") -263px -446px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 263px;
  _margin-left: -263px;
  _padding-top: 446px;
  _margin-top: -446px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_home_service_button_gray_outer {
  margin: 0 auto;
  height: 81px;
  width: 82px;
  overflow: hidden;
}

#gopng_home_service_button_gray {
  background: url("../images/sprite.png") -1117px -242px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(44/81);
  _background: none;
  _padding-left: 1117px;
  _margin-left: -1117px;
  _padding-top: 242px;
  _margin-top: -242px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_logo_outer {
  margin: 0 auto;
  height: 81px;
  width: 313px;
  overflow: hidden;
}

#gopng_logo {
  background: url("../images/sprite.png") -362px -446px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.4);
  _background: none;
  _padding-left: 362px;
  _margin-left: -362px;
  _padding-top: 446px;
  _margin-top: -446px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_home_contact_weibo_gray_outer {
  margin: 0 auto;
  height: 80px;
  width: 80px;
  overflow: hidden;
}

#gopng_home_contact_weibo_gray {
  background: url("../images/sprite.png") -675px -446px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(44/80);
  _background: none;
  _padding-left: 675px;
  _margin-left: -675px;
  _padding-top: 446px;
  _margin-top: -446px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
  &:hover {
    background: url("../images/sprite.png") -755px -446px no-repeat;
    width: 100%;
    height: 100%;
    @include scale-pic(44/80);
    _background: none;
    _padding-left: 755px;
    _margin-left: -755px;
    _padding-top: 446px;
    _margin-top: -446px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
  }
}
#gopng_home_contact_wechat_gray_outer {
  margin: 0 auto;
  height: 80px;
  width: 81px;
  overflow: hidden;
}

#gopng_home_contact_wechat_gray {
  background: url("../images/sprite.png") -836px -446px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(44/80);
  _background: none;
  _padding-left: 836px;
  _margin-left: -836px;
  _padding-top: 446px;
  _margin-top: -446px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
  &:hover {
    background: url("../images/sprite.png") -1079px -446px no-repeat;
    width: 100%;
    height: 100%;
    @include scale-pic(44/80);
    _background: none;
    _padding-left: 1079px;
    _margin-left: -1079px;
    _padding-top: 446px;
    _margin-top: -446px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
  }
}

#gopng_home_contact_mail_gray_outer {
  margin: 0 auto;
  height: 80px;
  width: 81px;
  overflow: hidden;
}

#gopng_home_contact_mail_gray {
  background: url("../images/sprite.png") -917px -446px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(44/80);
  _background: none;
  _padding-left: 917px;
  _margin-left: -917px;
  _padding-top: 446px;
  _margin-top: -446px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
  &:hover {
    background: url("../images/sprite.png") -998px -446px no-repeat;
    width: 100%;
    height: 100%;
    @include scale-pic(44/80);
    _background: none;
    _padding-left: 998px;
    _margin-left: -998px;
    _padding-top: 446px;
    _margin-top: -446px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
  }
}
#gopng_ico2_outer {
  margin: 0 auto;
  height: 79px;
  width: 71px;
  overflow: hidden;
}

#gopng_ico2 {
  background: url("../images/sprite.png") -0px -594px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 594px;
  _margin-top: -594px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_ico1_outer {
  margin: 0 auto;
  height: 79px;
  width: 102px;
  overflow: hidden;
}

#gopng_ico1 {
  background: url("../images/sprite.png") -71px -594px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 71px;
  _margin-left: -71px;
  _padding-top: 594px;
  _margin-top: -594px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_ico3_outer {
  margin: 0 auto;
  height: 72px;
  width: 86px;
  overflow: hidden;
}

#gopng_ico3 {
  background: url("../images/sprite.png") -173px -594px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 173px;
  _margin-left: -173px;
  _padding-top: 594px;
  _margin-top: -594px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_ico6_outer {
  margin: 0 auto;
  height: 64px;
  width: 141px;
  overflow: hidden;
}

#gopng_ico6 {
  background: url("../images/sprite.png") -259px -594px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 259px;
  _margin-left: -259px;
  _padding-top: 594px;
  _margin-top: -594px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_home_close_outer {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

#gopng_home_close {
  background: url("../images/sprite.png") -1130px -88px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 1130px;
  _margin-left: -1130px;
  _padding-top: 88px;
  _margin-top: -88px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_home_add_outer {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

#gopng_home_add {
  background: url("../images/sprite.png") -263px -533px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 263px;
  _margin-left: -263px;
  _padding-top: 533px;
  _margin-top: -533px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}

#gopng_read_more_outer {
  margin: 0 auto;
  height: 48px;
  width: 48px;
  overflow: hidden;
}

#gopng_read_more {
  background: url("../images/sprite.png") -1130px -148px no-repeat;
  width: 100%;
  height: 100%;
  @include scale-pic(0.5);
  _background: none;
  _padding-left: 1130px;
  _margin-left: -1130px;
  _padding-top: 148px;
  _margin-top: -148px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/sprite.png");
}
