$icon-font-path: '../fonts/';
@import "variables", "mixin", "strips", "font", "widgets", "fonti";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  overflow-x: hidden;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.logo-icon {
  padding-top: 10px !important;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  position: relative;
  background: #4581CE url("../images/bg/bg.jpg") right center no-repeat;
  -webkit-background-size: 100% 100%;
  margin-top: 50px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  position: relative;
  margin: 0 auto;
  width: 920px;
  height: 520px;
  .mask {
    position: absolute;
    left: -20px;
    width: 960px;
    height: 520px;
    z-index: 2;
    display: none;
  }

}

.app-carousel {
  background: none;
  margin-top: 0;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
  .item {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  ol.carousel-indicators {
    position: absolute;
    bottom: -120px !important;
  }
}
.carousel-weather-wrap {
  padding: 30px 0 0 0;
  color: $carousel-caption-color;
  text-shadow: $carousel-text-shadow;
  font-weight: normal;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
  .weather-top {
    position: relative;
    z-index: 99;
    .currentCity {
      @include switchCity-city();
    }
    .icon-location {
      @include switchCity-icon-location();
    }
    .release {
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        color: #CCCCCC;
      }
    }
  }
  .weather-middle {
    font-size: $font-size-base*5;
    margin: 40px 0 0 0;
    & > .weather-num-deg {
      font-size: $font-size-base*3;
      vertical-align: text-top;
      @include move-horizental(-12px);
    }
    img {
      width: 64px;
      height: 64px;
    }
  }
  .weather-week {
    position: absolute;
    bottom: 10px;
    font-size: $font-size-base*1.142857;
    line-height: $font-size-base*1.142857;
    text-align: center;
    ul {
      margin-left: 0; //wait for review
      .daily {
        position: absolute;
        z-index: 2;
        //opacity: 1;
        background-color: $weather-card-transparent;
        width: 90px;
        bottom: 0;
        padding: 14px 0; //wait for review
        border-left: 1px solid $weather-border-transparent;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
        &:nth-child(1) {
          border-left: 0;
          left: 0;
        }
        &:nth-child(2) {
          @include border-left-radius($border-radius-base);
          box-sizing: border-box;
          width: 160px;
          left: 90px;
          .weekday, .weather-icon {
            @include scale-text(1.3);
          }
          .weather-temp {
            @include scale-text(2);
          }
        }
        &:nth-child(3) {
          left: 250px;
        }
        &:nth-child(4) {
          left: 340px;
        }
        &:nth-child(5) {
          left: 430px;
        }
        &:nth-child(6) {
          left: 520px;
        }
        &:nth-child(7) {
          left: 610px;
        }
        div + div {
          margin-top: 20px;
        }
        .weather-icon {
          font-size: $font-size-base*2.857143;
          line-height: $font-size-base*5;
        }
      }
      .daily.daily-active {
        left: 0;
        width: 700px;
        cursor: default;
        z-index: 3;
        opacity: 1;
        transition: all 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
    .daily-detail {
      position: absolute;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      width: 700px;
      height: 220px;
      padding: 0 10px;
      box-sizing: border-box;
      transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
      div {
        display: inline-block;
      }
      .title {
        float: left;
        margin-left: 35px;
      }
      .tc {
        margin-top: 0;
        margin-bottom: 0;
      }
      .changeControl {
        float: right;
        margin-right: 40px;
        .canvasSwitch {
          margin-left: 10px;
          cursor: pointer;
        }
        .canvasSwitch-active {
          color: #85daff;
        }
      }
      .canvasWrap {
        display: block;
        margin-top: 40px;
        .canvasDetail {
          display: none;
          width: 680px;
          height: 180px;
        }
        .canvasDetail-active {
          display: block;
        }
      }
    }
    .daily-detail-active,
    .strip_close.strip_close-active {
      opacity: 1;
      z-index: 3;
      transition: all 1s 1s cubic-bezier(0.23, 1, 0.32, 1);
    }
    i.strip_close {
      position: absolute;
      opacity: 0;
      top: -220px;
      left: 660px;
      cursor: pointer;
      z-index: 3;
      font-size: 25px;
    }
    .opacity-hidden {
      opacity: 0;
    }
  }
  .exp {
    position: relative;
    float: right;
    top: 65px;
    font-size: $font-size-base*1.142857;
    line-height: $font-size-base*1.142857;
    & > div {
      margin-bottom: 20px;
      .exp-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: $font-size-base*1.5;
        line-height: $font-size-base*2.2;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

/*positon page */
#positionPage {
  position: absolute;
  background-color: rgba(74, 144, 226, 0.89); //rgba(69, 131, 220, 0.3)//4A90E2
  width: 340px;
  height: 520px;
  top: 0;
  left: -20px;
  z-index: 7;
  opacity: 0;
  padding-top: 80px;
  display: none;
}

#positionPage .search-box {
  //padding: 15px;
  position: relative;
  left: 20px;
}

.search-box .line input[type="text"] {
  font-size: 16px;
  line-height: 24px;
  padding: 6px 50px 6px 10px;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff solid 1px;
  border-radius: 8px;
  width: 300px;
  -webkit-appearance: none;
  background-color: #4a90e2;
  outline: none; //去掉chrome的focus蓝色边框
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 255, 255, 0.3);
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.3);
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.3);
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 0.3);
  }
}

.search-box .line a {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 275px;
  top: 1px;
  border: none;
  text-decoration: none;
  i {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 38px;
    text-shadow: none;
  }
}

#positionPage .title {
  position: relative;
  padding: 40px 0 30px;
  margin: 0 15px;
  text-align: center;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  &:before, &:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100px;
    background-color: #FFFFFF;
    vertical-align: middle;
  }
}

#positionPage .title span {
  display: inline-block;
  padding: 0 14px;
}

#wrapper {
  z-index: 1;
  top: 142px;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.scroller {
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.city-list ul li {
  float: left;
  width: 33.333333%;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  overflow: hidden;
}

.city-list ul li a {
  display: block;
  padding: 10px 0;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
}

/*search result*/
#resultPanel {
  position: absolute;
  top: 110px;
  left: 0;
  width: 300px;
  overflow: hidden;
  z-index: 20;
}

.search-result {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-result ul li {
  list-style: none;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}

.search-result ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
  text-shadow: none;
  text-decoration: none;
}

.city-list ul li a:hover, .search-result ul li a:hover {
  color: #85daff;
}

.city-list ul li a:active, .city-list ul li a.touch-active, .search-result ul li a:active, .search-result ul li a.touch-active {
  background-color: #585858;
}

.gradient-line {
  /*generate by CSS Gradient Generator*/
  margin-top: 0;
  margin-bottom: 10px;
  height: 2px;
  width: 100%;
  background-color: #4c7aaa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTVmM2JjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM4MzAwOTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgb(21, 243, 188)), color-stop(1, rgb(131, 0, 152)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(left, rgb(21, 243, 188) 0%, rgb(131, 0, 152) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to right, rgb(21, 243, 188) 0%, rgb(131, 0, 152) 100%);
  background-image: -ms-repeating-linear-gradient(left, rgb(21, 243, 188) 0%, rgb(131, 0, 152) 100%);
}

.news-wrap {
  background-color: $active-color-white;
  margin-top: $navbar-height;
  //height: $news-content-wrap-height;
}

.news-border {
  //@include move-verticle(30px);
  border: $border-width solid $news-wrap-border-color;
  border-radius: 4px;
  margin: 30px 0;
  //height: $news-content-height;
  background-color: $weather-font-color-white;
  section {
    width: 85%;
    margin-top: 30px;
    margin-left: 5%;
    &.newest-news {
      margin-top: 0;
    }
  }

}

.news-new-icon {
  @include trigle;
  //@include move-horizental(-15.5px);
  position: relative;
}

.news-new {
  //color: $weather-font-color-white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
  left: 0;
  font-size: $font-size-small;
  color: $weather-font-color-white;
  @include roate-text(315deg, 22px, -38px);
}

.header {
  line-height: $font-size-base*2;
  .news-title {
    font-weight: $btn-font-weight;
    &:hover {
      color: $head-font-color-blue;
    }
  }
  .news-info {
    font-size: $font-size-base / 1.1;
    color: $gray-light;
  }
}

.news-content {
  border-bottom: dashed 1px $gray-lighter;
  overflow: hidden;
  img {
    margin-bottom: 30px;
  }
  p {
    font-size: $font-size-base;
    color: $gray-light;
  }
}

.aside-line {
  padding-left: $info-font-size;
  border-left: dashed 1px $gray-lighter;
}

.featurette-divider-news {
  margin-top: -2px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  background-color: $active-color-white;
  margin-bottom: 20px;
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.news {
  margin-top: 60px;
  li {
    margin-top: 30px;
  }
  a {
    font-weight: 300;
  }
  .news-title {
    color: #333333;
  }
  .small {
    color: #666666;
  }
}

.title {
  margin: 50px 0 30px;
}

.recruit-wrap {
  width: 70%;
  margin: 0 auto;
  a {
    color: $gray-light;
    &:hover {
      color: $link-color;
    }
  }
}

.cloud-wrap {
  @extend .recruit-wrap;
  width: 90%;
  margin: 30px auto;
  p {
    @extend .text-center;
  }
}

.strip-wrap {
  position: relative;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4em;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*rock to top*/
#rocket-to-top {
  @include scale-pic(0.6);
  background: url(http://www.htmleaf.com/templets/default/images/rocket_up.png) no-repeat;
  cursor: default;
  display: block;
  height: 250px;
  margin: -125px 0 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 80%;
  width: 149px;
  z-index: 11;
  div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px
  }
  .level-2 {
    background: url(http://www.htmleaf.com/templets/default/images/rocket_up.png) -149px 0 no-repeat;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1
  }
  .level-3 {
    background: 0 0;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2
  }
}

.footer-icon {
  margin-right: -40px;
  &:last-child {
    margin-left: 20px;
    @include move-verticle(-50px);
  }
  .lead {
    font-size: $font-size-h4;
  }
}

.copyright {
  margin-top: 20px;
}

.about-intro {
  width: 100%;
  height: 300px;
  background: url("../images/about/about_bg02.jpg") center top, #fff;
  -webkit-background-size: contain;
  background-size: contain;
  padding-top: 50px;
  h4 {
    color: #6492D8;
  }
  .content {
    font-size: 1.1em;
    line-height: 1.8em;
  }
}

.about-work {
  width: 100%;
  height: 300px;
  background: url("../images/about/about_bg03.jpg") no-repeat, #6399E0;
  -webkit-background-size: contain;
  background-size: contain;
  color: #fefefe;
  li {
    margin-top: 15px;
  }
  .title {
    margin-left: 40px;
  }
}

.join_icon {
  width: 60px;
}

.join-desc {
  width: 100%;
  height: 350px;
  background: url("../images/bg/join_bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fefefe;
}

.app-icons {
  position: absolute;
  top: 80px;
  right: 80px;
}

.cloud-desc {
  position: absolute;
  top: 300px;
  right: 500px;
  height: 200px;
  width: 200px;
  color: #fefefe;
  line-height: 2em;
}

.weixin-logo {
  background: url("../images/orcode.png") no-repeat;
  width: 120px;
  height: 120px;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: -120px;
  right: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.app-download {
  background: url("../images/app/app_orcode.png") no-repeat;
  width: 120px;
  height: 120px;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 120px;
  right: 45px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.address{
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
}
