@mixin scale-text($num) {
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}

@mixin move-horizental($pixels) {
  -webkit-transform: translateX($pixels);
  -moz-transform: translateX($pixels);
  -ms-transform: translateX($pixels);
  -o-transform: translateX($pixels);
  transform: translateX($pixels);
}

@mixin switchCity-icon-location() {
  font-size: $font-size-base*2.142857;
  line-height: $font-size-base*2.142857;
  cursor: pointer;
  margin-right: 10px;
}

@mixin switchCity-city() {
  font-size: $font-size-base*1.285714;
  line-height: $font-size-base*2.142857;
}
