/*FONTS AND FONT SIZE*/
$head-font-size: 1.5em;
$temp-font-size: 4em;
$weather-info-font-size: 1em;
$info-font-size: 1.2em;

/*COLORS*/
$head-font-color-blue: rgb(97, 168, 249);
$text-font-color-black: rgb(0, 0, 0);
$weather-font-color-white: #fff;
$active-color-white: #f6f8fc;
$navbar-gradient-border: linear-gradient(0, blue, green);
$news-wrap-border-color: #ececec;
$weather-card-transparent: rgba(255, 255, 255, 0.1);
$weather-border-transparent: rgba(0, 0, 0, 0.1);

/*WIDTHS AND HEIGHTS*/
$news-content-height: 1440px;
$news-content-wrap-height: $news-content-height+60px;
$border-width: 2px;
