@import "../../../app/styles/fonti", "mixin", "variables";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// endbower

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
//html,body{
//  height: 100%;
//  width: 100%;
//}
*, ul, ol {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
}

.carousel {
  position: relative;
  background: #4581CE url("../images/bg.jpg") right center no-repeat;
  -webkit-background-size: 100% 100%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  position: relative;
  margin: 0 auto;
  width: 920px;
  height: 520px;
  .mask {
    position: absolute;
    left: -20px;
    width: 960px;
    height: 520px;
    z-index: 2;
    display: none;
  }
}

.carousel-weather-wrap {
  padding: 30px 0 0 0;
  color: $carousel-caption-color;
  text-shadow: $carousel-text-shadow;
  font-weight: 100;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
  .weather-top {
    position: relative;
    z-index: 99;
    .currentCity {
      @include switchCity-city();
    }
    .icon-location {
      @include switchCity-icon-location();
    }
    .release {
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        color: #CCCCCC;
      }
    }
  }
  .weather-middle {
    font-size: $font-size-base*5;
    margin: 40px 0 0 0;
    & > .weather-num-deg {
      font-size: $font-size-base*3;
      vertical-align: text-top;
      @include move-horizental(-12px);
    }
    img {
      width: 64px;
      height: 64px;
    }
  }
  .weather-week {
    position: absolute;
    bottom: 0;
    font-size: $font-size-base*1.142857;
    line-height: $font-size-base*1.142857;
    text-align: center;
    ul {
      margin-left: 0; //wait for review
      .daily {
        position: absolute;
        z-index: 2;
        //opacity: 1;
        background-color: $weather-card-transparent;
        width: 90px;
        bottom: 0;
        padding: 14px 0; //wait for review
        border-left: 1px solid $weather-border-transparent;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
        &:nth-child(1) {
          border-left: 0;
          left: 0;
        }
        &:nth-child(2) {
          @include border-left-radius($border-radius-base);
          box-sizing: border-box;
          width: 160px;
          left: 90px;
          .weekday, .weather-icon {
            @include scale-text(1.3);
          }
          .weather-temp {
            @include scale-text(2);
          }
        }
        &:nth-child(3) {
          left: 250px;
        }
        &:nth-child(4) {
          left: 340px;
        }
        &:nth-child(5) {
          left: 430px;
        }
        &:nth-child(6) {
          left: 520px;
        }
        &:nth-child(7) {
          left: 610px;
        }
        div + div {
          margin-top: 20px;
        }
        .weather-icon {
          font-size: $font-size-base*2.857143;
          line-height: $font-size-base*5;
        }
      }
      .daily.daily-active {
        left: 0;
        width: 700px;
        cursor: default;
        z-index: 3;
        opacity: 1;
        transition: all 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
    .daily-detail {
      position: absolute;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      width: 700px;
      height: 220px;
      padding: 0 10px;
      box-sizing: border-box;
      transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
      div {
        display: inline-block;
      }
      .title {
        float: left;
        margin-left: 35px;
      }
      .changeControl {
        float: right;
        margin-right: 40px;
        .canvasSwitch {
          margin-left: 10px;
          cursor: pointer;
        }
        .canvasSwitch-active {
          color: #85daff;
        }
      }
      .canvasWrap {
        display: block;
        margin-top: 40px;
        .canvasDetail {
          display: none;
          width: 680px;
          height: 180px;
        }
        .canvasDetail-active {
          display: block;
        }
      }
    }
    .daily-detail-active,
    .strip_close.strip_close-active {
      opacity: 1;
      z-index: 3;
      transition: all 1s 1s cubic-bezier(0.23, 1, 0.32, 1);
    }
    i.strip_close {
      position: absolute;
      opacity: 0;
      top: -230px;
      left: 660px;
      cursor: pointer;
      z-index: 3;
      font-size: 30px;
    }
    .opacity-hidden {
      opacity: 0;
    }
  }
  .exp {
    position: relative;
    float: right;
    top: 65px;
    font-size: $font-size-base*1.142857;
    line-height: $font-size-base*1.142857;
    & > div {
      margin-bottom: 20px;
      .exp-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: $font-size-base*1.5;
        line-height: $font-size-base*2.2;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

/*positon page */
#positionPage {
  position: absolute;
  background-color: rgba(74, 144, 226, 0.89); //rgba(69, 131, 220, 0.3)//4A90E2
  width: 340px;
  height: 520px;
  top: 0;
  left: -20px;
  z-index: 7;
  opacity: 0;
  padding-top: 80px;
  display: none;
}

#positionPage .search-box {
  //padding: 15px;
  position: relative;
  left: 20px;
}

.search-box .line input[type="text"] {
  font-size: 16px;
  line-height: 24px;
  padding: 6px 50px 6px 10px;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff solid 1px;
  border-radius: 8px;
  width: 300px;
  -webkit-appearance: none;
  background-color: #4a90e2;
  outline: none; //去掉chrome的focus蓝色边框
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 255, 255, 0.3);
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.3);
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.3);
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 0.3);
  }
}

.search-box .line a {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 275px;
  top: 1px;
  border: none;
  text-decoration: none;
  i {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 38px;
    text-shadow: none;
  }
}

#positionPage .title {
  position: relative;
  padding: 40px 0 30px;
  margin: 0 15px;
  text-align: center;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  &:before, &:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100px;
    background-color: #FFFFFF;
    vertical-align: middle;
  }
}

#positionPage .title span {
  display: inline-block;
  padding: 0 14px;
}

#wrapper {
  z-index: 1;
  top: 142px;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.scroller {
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.city-list ul li {
  float: left;
  width: 33.333333%;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  overflow: hidden;
}

.city-list ul li a {
  display: block;
  padding: 10px 0;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
}

/*search result*/
#resultPanel {
  position: absolute;
  top: 110px;
  left: 0;
  width: 300px;
  overflow: hidden;
  z-index: 20;
}

.search-result {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-result ul li {
  list-style: none;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}

.search-result ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
  text-shadow: none;
  text-decoration: none;
}

.city-list ul li a:hover, .search-result ul li a:hover {
  color: #85daff;
}

.city-list ul li a:active, .city-list ul li a.touch-active, .search-result ul li a:active, .search-result ul li a.touch-active {
  background-color: #585858;
}
